        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
          animation-duration: 3s;
              background-image: url('color.jpg');
          font-size: 150%;
        animation-name: slidein;
          
        }
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


        h1 {
             font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
            text-align: center;
          font-size: 250%;

          


          
        }

h2 {
  color: red  ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,;
  text-align: left;
  font-size: 100%;

}
        #word {
            font-size: 45px;
            margin-bottom: 20px;
        }
        #letters {
            font-size: 18px;
        }
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.style
{
    color : 'black';
}
 
.style:hover
{
    color : 'white';
}

button {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover {
  background-color: #f7c2f9;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}
  .solution {
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 6px;
    background-color: #0000fb;
    color: #ffffff;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  }

  .reponse {
    width: 700px;
    padding: 20px 0;
  }

  .cache {
    display: none;
  }
  lettres {
    display: inline-block;
    background-color: #ff1117;
    border-radius: 5px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 8px;
    padding: 10px;
    width: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
